body {
    background-color: darkslategrey;
    font-family: Tahoma, Verdana, sans-serif;
}

div {
    text-align: center;
    width: 300px;
    border: 15px solid rgb(255, 255, 255);
    padding: 50px;
    margin: 20px;
    color: rgb(255, 255, 255);
}